@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%; /* #EDEDED */
    --foreground: 0 0% 33%; /* #545454 */

    --card: 0 0% 93%; /* #EDEDED */
    --card-foreground: 0 0% 33%; /* #545454 */

    --popover: 0 0% 93%; /* #EDEDED */
    --popover-foreground: 0 0% 33%; /* #545454 */

    --primary: 45 20% 92%; /* #EFEDE7 */
    --primary-foreground: 48 8% 26%; /* #46453D */

    --secondary: 36 11% 82%; /* #D5D1CB */
    --secondary-foreground: 48 8% 26%; /* #46453D */

    --tertiary: 56 16% 82%; /* #D9D8CA */

    --muted: 240 4.8% 95.9%; /* also super light gray */
    --muted-foreground: 240 3.8% 46.1%; /* some dark gray for contrast */

    --accent: 167 87% 9%; /* #032B22 */
    --accent-foreground: 0 0% 98%; /* #FAFAFA */

    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */

    --border: 0 0% 98%; /* #FAFAFA */
    --input: 0 0% 98%; /* #FAFAFA */
    --ring: 0 0% 33%; /* #545454 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-light text-foreground;
  }
}

.pt-header {
  @apply pt-16 md:pt-28 2xl:pt-40;
}

.mt-header {
  @apply mt-16 md:mt-28 2xl:mt-40;
}
